
html,
body {
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 255, 255); 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input {
  border: none;
  border-radius: 35px;
  background-color: white;
  color:rgb(0, 0, 0);
  padding: 6px;
  font-size: 14px;
}

.header__input {
  margin-left: 15px;
  font-size: 20px;
  color: rgb(0, 0, 0); 
}

.unit {
    align-items: center;
    background-color: #00a3e0;
    border-radius: 50px;
    box-shadow: 0px 3px 26px rgba(0, 0, 0, 0.11);
    display: flex;
    height: 20px;
    font-size: 14px; 
    overflow: hidden;
    padding: 10px 15px;
    width: 120px;
}

.foxface-logo {
  margin-left: 45px;
  margin-top: 10px;
  margin-bottom: 50px; 
  border-radius: 21px;
  height: 41px;
  width: 72px;
}

.items {
  color: #000000; 
  padding-top: 20px;
  font-size: 14px; 
  font-weight: lighter;
  text-align: center;
  width: 60%;
}

.list-item {
  background-color: #ffffff;
  border-radius: 50px;
  border: 1px solid #000000;
  padding: 20px 10px 20px 10px;
  margin: 5px; 
  transition: all 0.2s cubic-bezier(.55,.8,.55,1);
}

.list-item:hover {
  box-shadow: 0 20px 30px rgb(0, 0, 0), 0 15px 15px rgb(0, 0, 0);
}

button {
  background-color: inherit;
  border: none;
}


/* Simple dashboard grid CSS */

/* Assign grid instructions to our parent grid container */

  
  .header, footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    background-color: #262B2F;
    text-align: center;
  }

  .sidenav {
    grid-area: sidenav;
    background-color: #262B2F;
  }

  

  .sidenav__list {
    padding: 0;
    list-style-type: none;
  }

  .sidenav__list-item {
    padding: 20px 20px 20px 40px;
    color: rgb(255, 255, 255);
  }

  .sidenav__list-item:hover {
    background-color: #FFC845;
    cursor: pointer;
  }

  .logout {
    margin-top: 350px;
    font-size: 18px;
    min-height: 30px;
    min-width: 70px;
    white-space: nowrap;
  }
  
  .main {
    grid-area: main;
    background-color:#262B2F;
    justify-content: center;
  }

  .main-header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
    height: 150px; /* Force our height since we don't have actual content yet */
    color: rgb(0, 0, 0);
  }

  .card-bar {
    background-color: white;
    box-shadow: 0px 3px 26px rgba(0, 0, 0, 0.09);
    height: 226px;
    margin: 0 auto;
    width: 1526px;
    color: black; 
  }

  .overviewcard {
    align-items: center;
    justify-content: space-between;
    background-color:#262B2F;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }

  .overviewcard:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

  .overview-header {
    color: rgb(255, 255, 255);
    background-color: #262B2F;
    padding-top: 5px; 
    padding-bottom: 5px;
    text-align: center; 
  }

  .overviewcard__info {
    text-align: center;
    font-size: 12px;
    font-weight: lighter;
  }

 
  
  .card {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
  }

  .card-header {
    color:rgb(255, 255, 255);
    width: 100%;
    font-size: 32px;
    padding-top: 20px; 
    padding-bottom: 20px; 
    text-align: center;
  }

  footer {
    padding-top: 30px;
  }

  /* Force varying heights to simulate dynamic content */
  


  /* Hamburger menu icon, stays fixed on mobile for any possible scrolling */
.menu-icon {
  position: fixed;
  display: flex;
  top: 5px;
  left: 10px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
  padding: 12px;
  background-color: #262B2F;
}

/* Make room for the menu icon on mobile */
.header__search {
  margin-left: 42px;
}

/* Mobile-first side nav styles */
.sidenav {
  grid-area: sidenav;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 240px;
  position: fixed;
  overflow-y: auto;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  z-index: 2; /* Needs to sit above the hamburger menu icon */
  background-color: #262B2F;
  transform: translateX(-245px);
  transition: all .6s ease-in-out;
}

/* The active class is toggled on hamburger and close icon clicks */
.sidenav.active {
  transform: translateX(0);
}

/* Only visible on mobile screens */
.sidenav__close-icon {
  position: absolute;
  visibility: visible;
  top: 8px;
  right: 12px;
  cursor: pointer;
  font-size: 20px;
  color: #ddd;
}

/* Non-mobile styles, 750px breakpoint */
    @media only screen and (min-width: 768px) {
        /* Show the sidenav */
      .grid-container {
          display: grid;
          grid-template-columns: 240px 1fr;
          grid-template-rows: 100px 1fr 100px;
          grid-template-areas:
            "sidenav header"
            "sidenav main"
            "sidenav footer";
          height: 100vh;
        }
        
        /* Give every child element its grid name */
        .header {
          grid-area: header;
        }
        .grid-container {
          grid-template-columns: 240px 1fr; /* Show the side nav for non-mobile screens */
          grid-template-areas:
            "sidenav header"
            "sidenav main"
            "sidenav footer";
        }

        .main-overview {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(265px, 1fr)); /* Where the magic happens */
          grid-auto-rows: 94px;
          margin: 20px;
        }

        .sidenav {
          display: flex; /* Will be hidden on mobile */
          flex-direction: column;
          grid-area: sidenav;
          background-color: #262B2F;
        }
        .sidenav {
          position: relative; /* Fixed position on mobile */
          transform: translateX(0);
          box-shadow: 0px 3px 26px rgba(0, 0, 0, 0.259);
          align-items: center;
        }
      
        .sidenav__close-icon {
          visibility: hidden;
        }
      
      view rawdashboard-
        .footer {
          grid-area: footer;
          background-color: #262B2F;
          text-align: center; 
        }
      }
    
      /* Medium-sized screen breakpoint (tablet, 1050px) */
      @media only screen and (min-width: 1024px) {
        /* Break out main cards into two columns */

        .card {
          display: flex;
          max-width: 650px;
          margin: auto; 
        }
      }
