@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600");
* {
  box-sizing: border-box;
}
.dove-gray-border-1px {
  border: 1px solid var(--dove-gray);
}
.montserrat-normal-black-16px {
  color: black;
  font-family: "Montserrat", Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.montserrat-normal-black-22px {
  color: black;
  font-family: "Montserrat", Helvetica, Arial, serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
}
.montserrat-normal-black-24px {
  color: black;
  font-family: "Montserrat", Helvetica, Arial, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}
.montserrat-normal-white-20px {
  color: white;
  font-family: "Montserrat", Helvetica, Arial, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}
.montserrat-normal-white-24px {
  color: white;
  font-family: "Montserrat", Helvetica, Arial, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}
.montserrat-normal-white-24px-2 {
  color: white;
  font-family: "Montserrat", Helvetica, Arial, serif;
  font-size: 24px;
}
.montserrat-normal-white-30px {
  color: white;
  font-family: "Montserrat", Helvetica, Arial, serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
}
.montserrat-semi-bold-white-28px {
  color: white;
  font-family: "Montserrat", Helvetica, Arial, serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
}
.montserrat-semi-bold-white-30px {
  color: white;
  font-family: "Montserrat", Helvetica, Arial, serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
}
.tiara-border-2px {
  border: 2px solid var(--tiara);
}
.web-1920-1 {
  align-items: flex-start;
  background-color: white;
  display: flex;
  overflow: hidden;
  width: 1860px;
}
.web-1920-1 .asset-verification {
  left: 1068px;
  letter-spacing: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 663px;
  width: 329px;
}
.web-1920-1 .contactpeggy-todd {
  height: 101px;
  left: 0px;
  letter-spacing: 0px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 191px;
}
.web-1920-1 .date {
  left: 765px;
  letter-spacing: 0.02px;
  line-height: 32px;
  position: absolute;
  text-align: left;
  top: 54px;
  white-space: nowrap;
}
.web-1920-1 .ellipse-1 {
  background-color: var(--pumice);
  border-radius: 41.5px;
  height: 83px;
  left: 595px;
  position: absolute;
  top: 23px;
  width: 83px;
}
.web-1920-1 .ellipse-27 {
  border-radius: 7px;
  height: 14px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 14px;
}
.web-1920-1 .ellipse-3 {
  background-color: var(--cape-cod);
  border-radius: 6.2499213218688965px/6.749910831451416px;
  height: 13px;
  margin-right: 0px;
  width: 12px;
}
.web-1920-1 .ellipse-54 {
  background-color: var(--cerulean);
  border-radius: 9px/10px;
  height: 20px;
  width: 18px;
}
.web-1920-1 .ellipse-55 {
  background-color: var(--cerulean);
  border-radius: 9px/10px;
  height: 20px;
  margin-top: 57px;
  width: 18px;
}
.web-1920-1 .ellipse-56 {
  background-color: var(--cerulean);
  border-radius: 9px/10px;
  height: 20px;
  margin-top: 49px;
  width: 18px;
}
.web-1920-1 .ellipse-57 {
  background-color: var(--cerulean);
  border-radius: 9px/10px;
  height: 20px;
  margin-top: 118px;
  width: 18px;
}
.web-1920-1 .ellipse-58 {
  background-color: var(--cerulean);
  border-radius: 9px/10px;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 456px;
  width: 18px;
}
.web-1920-1 .ellipse-59 {
  background-color: var(--cerulean);
  border-radius: 9px/10px;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 94px;
  width: 18px;
}
.web-1920-1 .finish-file {
  left: 1068px;
  letter-spacing: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 950px;
  width: 316px;
}
.web-1920-1 .folder {
  align-items: flex-start;
  display: flex;
  height: 33px;
  left: 969px;
  min-width: 41px;
  position: absolute;
  top: 947px;
}
.web-1920-1 .fox-face-logo {
  height: 65px;
  left: 463px;
  position: absolute;
  top: 30px;
  width: 114px;
}
.web-1920-1 .group-63 {
  align-items: flex-end;
  display: flex;
  height: 99px;
  margin-right: 9px;
  margin-top: 16px;
  min-width: 192px;
}
.web-1920-1 .group-65 {
  align-items: flex-start;
  display: flex;
  height: 34px;
  left: 0px;
  min-width: 323px;
  position: absolute;
  top: 0px;
}
.web-1920-1 .group-66 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 0px;
  min-height: 152px;
  position: absolute;
  top: 150px;
  width: 465px;
}
.web-1920-1 .group-67 {
  align-items: flex-start;
  display: flex;
  height: 34px;
  left: 1530px;
  min-width: 321px;
  position: absolute;
  top: 51px;
}
.web-1920-1 .group-68 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0px;
  min-height: 304px;
  position: absolute;
  top: 25px;
  width: 18px;
}
.web-1920-1 .group-69 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0px;
  min-height: 304px;
  position: absolute;
  top: 387px;
  width: 18px;
}
.web-1920-1 .group-71 {
  align-items: flex-start;
  display: flex;
  height: 709px;
  left: 908px;
  min-width: 18px;
  position: absolute;
  top: 286px;
}
.web-1920-1 .icon-search-dark {
  align-items: flex-end;
  display: flex;
  height: 17px;
  left: 20px;
  min-width: 16px;
  position: absolute;
  top: 9px;
}
.web-1920-1 .line-30 {
  height: 6px;
  left: 10px;
  position: absolute;
  top: 11px;
  width: 6px;
}
.web-1920-1 .my-account {
  left: 160px;
  letter-spacing: 0px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 935px;
  white-space: nowrap;
}
.web-1920-1 .name {
  letter-spacing: 3px;
  line-height: 35px;
  margin-top: -2px;
  min-height: 39px;
  text-align: center;
  white-space: nowrap;
  width: 465px;
}


.web-1920-1 .overlap-group {
  height: 1080px;
  margin-left: -26px;
  position: relative;
  width: 1886px;
}
.web-1920-1 .overlap-group-1 {
  height: 34px;
  position: relative;
  width: 323px;
}
.web-1920-1 .overlap-group1 {
  height: 101px;
  margin-bottom: -2px;
  position: relative;
  width: 192px;
}
.web-1920-1 .overlap-group1-1 {
  align-items: flex-start;
  background-color: var(--cerulean);
  border-radius: <codegenerator_web.anima_models.admodel_corner_radius.ADModelCornerRadius object at 0x7fa5a6830730>px;
  display: flex;
  min-width: 18px;
}
.web-1920-1 .overlap-group2 {
  align-items: flex-start;
  background-color: var(--cerulean);
  border-radius: <codegenerator_web.anima_models.admodel_corner_radius.ADModelCornerRadius object at 0x7fa5a6793f10>px;
  display: flex;
  min-width: 18px;
}
.web-1920-1 .overlap-group3 {
  height: 17px;
  margin-bottom: -0px;
  position: relative;
  width: 16px;
}
.web-1920-1 .overlap-group4 {
  height: 709px;
  position: relative;
  width: 18px;
}
.web-1920-1 .overlap-group5 {
  height: 33px;
  position: relative;
  width: 41px;
}
.web-1920-1 .path {
  height: 30px;
  left: 706px;
  position: absolute;
  top: 49px;
  width: 30px;
}
.web-1920-1 .path-178 {
  height: 31px;
  left: 0px;
  position: absolute;
  top: 2px;
  width: 41px;
}
.web-1920-1 .path-6 {
  height: 10px;
  margin-right: 0px;
  margin-top: 3px;
  width: 25px;
}
.web-1920-1 .personal-info {
  left: 1068px;
  letter-spacing: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 304px;
  width: 422px;
}
.web-1920-1 .rectangle-1 {
  background-color: white;
  border-radius: 15px;
  height: 34px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 304px;
}
.web-1920-1 .rectangle-1447 {
  height: 29px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 29px;
}
.web-1920-1 .rectangle-5 {
  background-color: var(--cape-cod);
  height: 1080px;
  left: 26px;
  position: absolute;
  top: 0px;
  width: 406px;
}
.web-1920-1 .rectangle-537 {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.451);
  height: 63px;
  left: 940px;
  position: absolute;
  top: 286px;
  width: 460px;
}
.web-1920-1 .rectangle-538 {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.451);
  height: 63px;
  left: 940px;
  position: absolute;
  top: 932px;
  width: 460px;
}
.web-1920-1 .rectangle-539 {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.451);
  height: 63px;
  left: 940px;
  position: absolute;
  top: 860px;
  width: 460px;
}
.web-1920-1 .rectangle-540 {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.451);
  height: 63px;
  left: 940px;
  position: absolute;
  top: 788px;
  width: 460px;
}
.web-1920-1 .rectangle-541 {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.451);
  height: 63px;
  left: 940px;
  position: absolute;
  top: 717px;
  width: 460px;
}
.web-1920-1 .rectangle-542 {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.451);
  height: 63px;
  left: 940px;
  position: absolute;
  top: 645px;
  width: 460px;
}
.web-1920-1 .rectangle-543 {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.451);
  height: 63px;
  left: 940px;
  position: absolute;
  top: 573px;
  width: 460px;
}
.web-1920-1 .rectangle-544 {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.451);
  height: 63px;
  left: 940px;
  position: absolute;
  top: 501px;
  width: 460px;
}
.web-1920-1 .rectangle-545 {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.451);
  height: 63px;
  left: 940px;
  position: absolute;
  top: 358px;
  width: 460px;
}
.web-1920-1 .rectangle-546 {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.451);
  height: 63px;
  left: 940px;
  position: absolute;
  top: 430px;
  width: 460px;
}
.web-1920-1 .rectangle-547 {
  background-color: var(--cerulean);
  height: 709px;
  left: 5px;
  position: absolute;
  top: 0px;
  width: 8px;
}
.web-1920-1 .rectangle-548 {
  background-color: white;
  height: 125px;
  left: 430px;
  position: absolute;
  top: 0px;
  width: 1456px;
}
.web-1920-1 .rectangle-549 {
  background-color: var(--pumice);
  height: 955px;
  left: 463px;
  position: absolute;
  top: 125px;
  width: 1388px;
}
.web-1920-1 .rectangle-550 {
  background-color: white;
  height: 60px;
  left: 18px;
  position: absolute;
  top: 497px;
  width: 428px;
}
.web-1920-1 .resident-dashboard {
  left: 59px;
  letter-spacing: 0px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 36px;
  width: 346px;
}
.web-1920-1 .review {
  left: 1068px;
  letter-spacing: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 878px;
  width: 296px;
}
.web-1920-1 .search {
  left: 45px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 6px;
  width: 278px;
}
.web-1920-1 .sign-out {
  left: 160px;
  letter-spacing: 0px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 1001px;
  white-space: nowrap;
}
.web-1920-1 .span {
  color: rgba(0, 0, 0, 1);
  font-family: "Montserrat", Helvetica, Arial, serif;
  font-size: 24px;
}
.web-1920-1 .span-1 {
  color: rgba(255, 255, 255, 1);
  font-family: "Montserrat", Helvetica, Arial, serif;
  font-size: 24px;
}
.web-1920-1 .support {
  left: 160px;
  letter-spacing: 0px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 968px;
  white-space: nowrap;
}
.web-1920-1 .tel-503-236-6468 {
  left: 0px;
  letter-spacing: 0px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 75px;
  width: 192px;
}
.web-1920-1 .tenant-assets {
  left: 1068px;
  letter-spacing: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 519px;
  width: 304px;
}
.web-1920-1 .tenant-income {
  left: 1068px;
  letter-spacing: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 448px;
  width: 304px;
}
.web-1920-1 .text-1 {
  height: 305px;
  left: 150px;
  letter-spacing: 0px;
  line-height: 60px;
  position: absolute;
  text-align: left;
  top: 494px;
  width: 255px;
}
.web-1920-1 .text-2 {
  left: 1068px;
  letter-spacing: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 376px;
  width: 414px;
}
.web-1920-1 .text-3 {
  left: 1068px;
  letter-spacing: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 591px;
  width: 304px;
}
.web-1920-1 .text-4 {
  left: 1068px;
  letter-spacing: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 735px;
  width: 306px;
}
.web-1920-1 .text-5 {
  left: 1068px;
  letter-spacing: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 806px;
  width: 296px;
}
.web-1920-1 .text-6 {
  left: 859px;
  letter-spacing: 0px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 205px;
  width: 803px;
}
.web-1920-1 .union-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 989px;
  min-height: 27px;
  padding: 0 0px;
  position: absolute;
  top: 304px;
  width: 25px;
}
.web-1920-1 .unit-397 {
  height: 21px;
  left: 177px;
  letter-spacing: 0px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 338px;
  white-space: nowrap;
  width: 107px;
}
.web-1920-1 .untitled-design-1 {
  height: 37px;
  left: 963px;
  position: absolute;
  top: 443px;
  width: 77px;
}
.web-1920-1 .welcome-jane {
  left: 59px;
  letter-spacing: 0px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 85px;
  width: 288px;
}
:root {
  --cape-cod: rgba(63, 68, 67, 1);
  --cerulean: rgba(0, 163, 224, 1);
  --dove-gray: rgba(112, 112, 112, 1);
  --pumice: rgba(200, 201, 199, 1);
  --tiara: rgba(200, 209, 211, 1);
}
