
html,
body {
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 255, 255); 
    background-color: #262B2F;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input {
  border: none;
  border-radius: 35px;
  background-color: white;
  color:rgb(0, 0, 0);
  padding: 6px;
  font-size: 14px;
}

.header__input {
  margin-left: 15px;
  font-size: 20px;
  color: rgb(0, 0, 0); 
}

.unit {
    align-items: center;
    background-color: #00a3e0;
    border-radius: 50px;
    box-shadow: 0px 3px 26px rgba(0, 0, 0, 0.11);
    display: flex;
    font-size: 14px;
    height: 20px;
    overflow: hidden;
    padding: 5px 10px;
}

.second-nav {
  display: inline-flex;
}

.dashboard {
  font-weight: 100;
}
.heading {
    color: rgb(255, 255, 255);
    display: inline-block;
    font-size: 1em;
    font-weight: 500;
    margin: 1em 0 0 1em;
    padding: 0;
    text-transform: uppercase;
}


 
.account {
  text-align: center;
  padding-top:0.25em;
}
.account__avatar {
  color: white;
  font-size: 0.875em;
  font-weight: 500;
  padding: 0;
  text-transform: capitalize;    
}

.account__avatar span {
  display: inline-block;    
  padding: 0.5em;
  }

.account__avatar img {
  width: 35px;
  height: 35px;    
  border-radius: 100%;
  vertical-align: middle;
  margin-right: 0.5em;
}

.account__notify {
  border-right: 1px solid #00a3e0;
  margin-right: 0.5em;
  padding: 0.75em;
  position: relative;
}

.account__notify img {
  height: 20px;
  padding: 0 0.25em;    
  vertical-align: middle;
}

.account__notify::after {
  background-color:#84bd00;
  border-radius: 100%;
  content: ' ';
  height: 7px;
  position: absolute;
  right: 0.75em;
  top: 0.75em;
  width: 7px;
}


/* Simple dashboard grid CSS */

/* Assign grid instructions to our parent grid container */

  
  .header, footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    background-color: #262B2F;
    text-align: center;
  }

  .sidenav {
    grid-area: sidenav;
    background-color: #262B2F;
  }
  

  .sidenav__list {
    padding: 0;
    list-style-type: none;
  }

  .sidenav__list-item {
    padding: 20px 20px 20px 40px;
    color: rgb(255, 255, 255);
  }

  .sidenav__list-item:hover {
    background-color: #FFC845;
    cursor: pointer;
  }

  .sidenav__list-item:active:before {
    background-color: #84bd00;
    border-left: 3px;
    border-radius: 3px;
  }

  .foxface-logo {
    margin-left: 45px;
    margin-top: 10px;
    margin-bottom: 50px; 
    border-radius: 21px;
    height: 41px;
    width: 72px;
  }

  .logout {
    margin-top: 350px;
    font-size: 18px;
    min-height: 30px;
    min-width: 70px;
    white-space: nowrap;
  }

  .chart {
    height: 500px; 
  }

  .chart canvas {
    margin-top: 1em;
}
  
  .main {
    grid-area: main;
    background-color:#262B2F;
  }

  .main-header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
    height: 150px; /* Force our height since we don't have actual content yet */
    color: rgb(0, 0, 0);
  }
  .overviewcard {
    align-items: center;
    justify-content: space-between;
    background-color:#262B2F;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }

  .overviewcard:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

  .overview-header {
    color: rgb(255, 255, 255);
    background-color: #262B2F;
    padding-top: 5px; 
    padding-bottom: 5px;
    text-align: center; 
  }

 
  
  .card {
    background-color: white; 
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 450px; 
    margin-bottom: 20px;
    -webkit-column-break-inside: avoid;
    box-sizing: border-box;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }

  .card:hover {
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
  .card-header {
    color:rgb(255, 255, 255);
    background-color: #84bd00;
    width: 100%;
    padding-top: 20px; 
    padding-bottom: 20px; 
    text-align: center;
  }

  .form input, .form select, .form textarea {
    background-color: #eee;
    border-radius: 5px;
    border: 1px solid #ccc;
    display: block;
    font-family: 'Poppins', sans-serif;
    margin: 1em 0;
    padding: 1em;
    width: 100%;
}

  .box {
  color: rgb(0, 0, 0);
  display: inline-block;
  font-size: 1em;
  font-weight: 500;
  margin: 1em 0 0 1em;
  padding: 0;
  text-transform: uppercase;
  }

  button {
    background-color: #00a3e0;
    color: white; 
    border-radius: 5px;
    border: 0;
    color: #fff;
    margin: 0;
    padding: 1em 2em;
    text-transform: uppercase;
    width: 100%;
    width: calc(100%);
}

.message,
.settings {
  color: white; 
}

.chart__menu {
  display: inline-block;
  line-height: 1.3em;
  list-style-type: none;
  margin: 0;
  padding: 1em;
}

.chart__menu li {
  display: inline-block;
  font-size: 10px;
  padding: 0 0.5em;
}

.chart__menu li a {
  font-weight: 500;
}

.chart__menu li.active {
  background-color: #84bd00;
  border-radius: 1em;
  font-weight: bold;
  padding: 0 1em;
}

.chart__menu li.active a {
  color: #fff;
}

.chart canvas {
  margin-top: 1em;
}
  

  /* Force varying heights to simulate dynamic content */
  


  /* Hamburger menu icon, stays fixed on mobile for any possible scrolling */
.menu-icon {
  position: fixed;
  display: flex;
  top: 5px;
  left: 10px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
  padding: 12px;
  background-color: #262B2F;
}

/* Make room for the menu icon on mobile */
.header__search {
  margin-left: 42px;
}

/* Mobile-first side nav styles */
.sidenav {
  grid-area: sidenav;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 240px;
  position: fixed;
  overflow-y: auto;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  z-index: 2; /* Needs to sit above the hamburger menu icon */
  background-color: #262B2F;
  transform: translateX(-245px);
  transition: all .6s ease-in-out;
}

/* The active class is toggled on hamburger and close icon clicks */
.sidenav.active {
  transform: translateX(0);
}

/* Only visible on mobile screens */
.sidenav__close-icon {
  position: absolute;
  visibility: visible;
  top: 8px;
  right: 12px;
  cursor: pointer;
  font-size: 20px;
  color: #ddd;
}

/* Non-mobile styles, 750px breakpoint */
    @media only screen and (min-width: 768px) {
        /* Show the sidenav */

        [class^="col-"] {
          float: left;
          padding: 0;
        }
      .grid-container {
          display: grid;
          grid-template-columns: 240px 1fr;
          grid-template-rows: 100px 1fr 100px;
          grid-template-areas:
            "sidenav header"
            "sidenav main"
            "sidenav footer";
          height: 100vh;
        }
        
        /* Give every child element its grid name */
        .header {
          grid-area: header;
        }
        .grid-container {
          grid-template-columns: 240px 1fr; /* Show the side nav for non-mobile screens */
          grid-template-areas:
            "sidenav header"
            "sidenav main"
            "sidenav footer";
        }

        .main-overview {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(265px, 1fr)); /* Where the magic happens */
          grid-auto-rows: 94px;
          margin: 20px;
        }

        .sidenav {
          display: flex; /* Will be hidden on mobile */
          flex-direction: column;
          grid-area: sidenav;
          background-color: #262B2F;
        }

        .card-bar {
          float: left;
          margin-right: 20px;
          margin-left: 20px;
          width: 400px;
        }

        .col-6 {
          width: calc(100% / 12 * 6);
      }
      
        
        
        .sidenav {
          position: relative; /* Fixed position on mobile */
          transform: translateX(0);
          box-shadow: 0px 3px 26px rgba(0, 0, 0, 0.259);
          align-items: center;
        }
      
        .sidenav__close-icon {
          visibility: hidden;
        }
      
      view rawdashboard-
        .footer {
          grid-area: footer;
          background-color: #262B2F;
          text-align: center; 
        }
        .card-header {
          text-align: left; 
          text-indent: 15px;
          font-size: 22px;
        }

        .row {
          display: inline-flex;
          margin: 20px 20px 20px 20px; 
        }

        .form input, .form select, .form textarea {
          background-color: #eee;
          border-radius: 5px;
          border: 1px solid #ccc;
          display: block;
          font-family: 'Poppins', sans-serif;
          margin: 1em 0;
          padding: 1em;
          width: 100%;
        }
      }
    
      /* Medium-sized screen breakpoint (tablet, 1050px) */
      @media only screen and (min-width: 1024px) {
        /* Break out main cards into two columns */


        .card {
          display: flex;
          margin: 10px 10px 10px 10px;
        }

        .main-cards {
          display: flex;
        }

        .card:nth-child(1) {
          height: 500px;
          display: block; 
          width: 20%;
        }
      
        .card:nth-child(2) {
          height: 500px;
          width: 40%;
        }
      
        .card:nth-child(3) {
          height: 500px;
          width: 40%; 
        }
        
      }