
/* ============================================= */
  /*              Base styles                      */
  /* ============================================= */
  body {
    font-family: 'Montserrat', sans-serif;
    color: black;
    background-color: white;
    box-sizing: border-box;
  }
  * p {
    line-height: 1.45em;
  }
  * a {
    text-decoration: none;
  }

  li {
    list-style-type: none;
  }

  .background,
  .card-title {
    text-transform: uppercase;
  }

  .wrap  {
    background-image: linear-gradient(65deg,
      rgba(0, 59, 99, 0.95), 
      rgba(0, 153, 255, 0.75)
    ),url(../images/apartment2.jpg);
    background-size: cover;
    text-align: -webkit-center; 
  }



/* ============================================= */
  /*              Typography                       */
  /* ============================================= */
  .name {
    text-transform: uppercase;
  }

  .main-nav a {
    text-align: center;
    background-color: #00A3E0;
    color: white;
    border-radius: 35px; 
    margin-top: 6px;
    margin-bottom: 6px;
    font-size: 1em; 
  }
  
  
  .main-nav a:hover {
    color: #FFC845;
  }
  
  .name a,
  .main-nav a {
    padding: 5px 25px;
    display: block;
    text-align: center;
  }

  .container {
    padding-left: 1em;
    padding-right: 1em;
   
  }
  
  .main-header {
    text-align: center;
    margin: 0 auto; 
  }

  .background {
    justify-content: center;
  }

  form {
    border:  #FFC845 solid 2px;
    text-align: center;
    width: max-content;
    color: white; 
    padding: 20px 20px; 
    flex-basis: 100%;
    -webkit-box-shadow:0 0 4px rgba(255, 200, 69, 0.6);
    -moz-box-shadow:0 4px rgba(255,200,69,0.6);
    box-shadow:0 0 4px rgba(255,200,69,0.6);
}

.form-title {
    color: white;
    font-size: 20px; 
  }

  .tag {
    padding: 10px;
    margin: 20px 20px;
    color: white;
    font-size: 40px;
  } 
  .location {
    padding: 10px;
    font-size: 10px;
    font-weight: 400;
  }
  
  footer {
    text-align: center;
  }
  /* ============================================= */
  /*              Buttons                          */
  /* ============================================= */
  
  .btn {
    margin-top: 15px;
    width: 100%;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 25px;
  }
  
  .default {
    background: linear-gradient(45deg, #00A3E0, #84BD00);
  } 
  .default a {
    color: #fff;
  }
  
  
  /* ============================================= */
  /*              Forms                            */
  /* ============================================= */

  .card {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 10px;
    font-size: 1.5em; 
    padding: 25px 40px 40px;
    max-width: 500px;
    text-align: right;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-bottom: 8px solid #3F4443;
    border-radius: 45px;
    -webkit-box-shadow:0 0 7px rgba(0, 0, 0, 0.6);
    -moz-box-shadow:0 0 7px rgba(0,0,0,0.6);
    box-shadow:0 0 7px rgba(0,0,0,0.6);

  
  }
  .card:hover {
    border-color: #00A3E0;
  }

  .card-info {
    font-size: 16px; 
    color: rgb(0, 0, 0);
  }

  p a {
    color: rgb(0, 0, 0);
  }
  p a:hover {
    color:#84BD00;
  }
  
  /* ============================================= */
  /*              Navigation                       */
  /* ============================================= */
  /*
    
  }*/

 a.social {
    display: inline-block;
    text-indent: -9999px;
    margin-left: 5px;
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
    transition: all .5s;
  }
  a.twitter {
    background-image: url(images/twitter.svg);
  }
  a.linkedin {
    background-image: url(../images/linkedin.svg);
  }
  a.github {
    background-image: url(images/github.svg);
  }
  a.social:hover {
    opacity: 1;
  }
  
  /* ============================================= */
  /*              Images                           */
  /* ============================================= */

  .img-logo { 
    margin-left: auto;
    margin-right: auto;
  }
  
  /* ============================================= */
  /*              Grid System                      */
  /* ============================================= */
  
  .card {
    flex-basis: 100%;
  }
  
  /* ============================================= */
  /*              Media Queries                    */
  /* ============================================= */
  @media screen and (min-width: 768px) {

 .flex {
   /* TWEENER - IE 10 */
    display: flex;
    max-width: 1500px;
    justify-content: space-around;
    margin: 0 auto;
    justify-content: center;
  }

  .container {
    display: inline;
  }
  
  section {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
	.wrap {
    min-height: calc(100vh - 250px);
  }
  
  .wrap img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }
  .wrapper {
    display: inline-flex;
    font-family: 'Montserrat', sans-serif;
  }
  
  .name,
  .main-nav li 
  {
    display: inline-block;
  }


.name li {
  width: 240px;
}

.img-logo {
  display: block;
  float: left;
  height: 40px;
}

  [class^=col] {
    display: flex;
    justify-content: center;
    margin-top: 0;
    align-items: center;
  }
  
  [class^=col] + [class^=col] {
    margin-left: 10px;
  }
  
  .col {
    width: 20%;
    float: right;
  }
  
  main p {
      line-height: 1.6em;
    }
  
  footer {
      text-align: center;
      font-size: .95em;
      max-width: 1200px;
      margin: 20px auto;
    }
  
  }

  @media screen and (min-width: 1024px) {

  .main-header {
    text-align: left;
    
}

  .main-nav {
    float: right; 
    padding-top: 20px;
  }

  .tag {
    font-size: 60px;
    width: max-content;
  } 
  .location {
    font-size: 20px;
  }

  .main-nav a {
    color: black; 
    background-color: white;
    border-radius: 35px; 
    margin-top: 6px;
    margin-bottom: 6px;
    font-size: 1em; 
}


}